#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  2fauth-app.service
BindsTo=2fauth.service
After=2fauth.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment

EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p config
ExecStartPre=/bin/bash -c 'if [ ! -f %S/state/database.sqlite ]; then /bin/touch %S/state/database.sqlite; fi'
ExecStartPre=/bin/rm -f %t/2fauth-app.pid %t/2fauth-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/2fauth-app.pid \
    --cidfile %t/2fauth-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/2fauth.pod-id --replace -d --name  2fauth-app \
    --volume 2fauth-app:/var/www/html/:Z \
    --volume 2fauth-config:/tmp:Z \
    --env-file=%S/state/key.env \
    --env-file=%S/state/app.env \
    --env DB_DATABASE=%S/state/database.sqlite \
    docker.io/2fauth/2fauth:5.2.0
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/2fauth-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP 2fauth-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/2fauth-app.ctr-id
PIDFile=%t/2fauth-app.pid
Type=forking

[Install]
WantedBy=default.target
