#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  2fauth-app.service
BindsTo=2fauth.service
After=2fauth.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p config
ExecStartPre=/bin/rm -f %t/2fauth-app.pid %t/2fauth-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/2fauth-app.pid \
    --cidfile %t/2fauth-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/2fauth.pod-id --replace -d --name  2fauth-app \
    --volume 2fauth-app:/var/www/html/:Z \
    --volume 2fauth-config:/tmp:Z \
    --env=FAUTH_* \
    --env APP_NAME=2FAuth \
    --env APP_ENV=local \
    --env SITE_OWNER=change@me.com \
    --env APP_KEY=${APP_KEY} \
    --env APP_URL=${APP_URL} \
    --env LOG_CHANNEL=daily \
    --env LOG_LEVEL=notice \
    --env DB_DATABASE="/srv/database/database.sqlite" \
    --env CACHE_DRIVER=file \
    --env SESSION_DRIVER=file \
    --env AUTHENTICATION_GUARD=web-guard \
    --env WEBAUTHN_NAME=2FAuth \
    --env BROADCAST_DRIVER=log \
    --env QUEUE_DRIVER=sync \
    --env SESSION_LIFETIME=120 \
    --env REDIS_HOST=127.0.0.1 \
    --env REDIS_PASSWORD= \
    --env REDIS_PORT=6379 \
    --env PUSHER_APP_ID= \
    --env PUSHER_APP_KEY= \
    --env PUSHER_APP_SECRET= \
    --env PUSHER_APP_CLUSTER=mt1 \
    --env MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}" \
    --env MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}" \
    --env MIX_ENV=local
    --env MAIL_DRIVER=SMTP \
    --env MAIL_HOST=smtp.example.com \
    --env MAIL_PORT=587 # STARTTLS \
    --env MAIL_USERNAME=2fauth@example.com \
    --env MAIL_PASSWORD=password1234 \
    --env MAIL_FROM_NAME=2FAuth \
    --env MAIL_FROM_ADDRESS=2fauth@example.com \
    ${AUTH_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/2fauth-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP 2fauth-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/2fauth-app.ctr-id
PIDFile=%t/2fauth-app.pid
Type=forking

[Install]
WantedBy=default.target
